/* retrieve from 1pass. Note is called pytest env file */
TEXTUAL_HOST=http://localhost:9002
TEXTUAL_API_KEY=
S3_UPLOAD_ACCESS_KEY=
S3_UPLOAD_SECRET_KEY=
S3_UPLOAD_BUCKET=
S3_OUTPUT_BUCKET=
AWS_DEFAULT_REGION=us-east-1
AZURE_ACCOUNT_KEY=
AZURE_ACCOUNT_NAME=
DATABRICKS_URL=
DATABRICKS_ACCESS_TOKEN=
S3_KMS_KEY_ARN=